<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>..:: EventeX ::..</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" media="screen" />
</head>
<body>

	<div id="wrapper">
		<h1>Bem-vindo ao EventeX!</h1>
		<div id="top-nav">
			<ul>
				<li><a href="/">EventeX</a></li>
			</ul>
		</div>
		<div id="mmagic"> </div>
		<div id="header"> </div>
		<div id="spacer"> </div>
		<div id="body">
			<div id="left">
				<div id="nav">
					<ul>
						<li><a href="/">Página Inicial</a></li>
						<li><a href="/">Informações</a></li>
						<li><a href="/">Inscrição</a></li>
						<li><a href="/">Local</a></li>
					</ul>
					<div class="clear"> </div>
				</div>
				<div id="visit">
					<h2>
						EventeX
					</h2>
					<p>
						O evento mais sensacional do ano após o Dev In Rio! <br/>
						Você não pode perder essa oportunidade!
					</p>
					<p>
						<b>Abertura das inscrições em 15/05/2011.</b>
					</p>
				</div>
			</div>
			<div id="right">
				<div id="right-i">
					<h2>Mais informações</h2>
					<img src="{{ STATIC_URL }}images/pic.gif" width="103" height="79" alt="E-mail" class="left" />
					<br/>
					<p>
						Para dúvidas entre em contato com <i><a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></i>.
					</p>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div id="copyright">
			<p>Copyright &copy EventeX. Todos os direitos reservados</p>
		</div>
	</div>

</body>
</html>
